{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Mot de passe oublié{% endblock %}
{% block body %}

<div class="px-0 p-md-3">

    {{ include('_alert.html.twig') }}
    <div class="d-none d-md-flex mt-5 py-2 flex-column align-items-center justify-content-center" style="flex-grow: 1;">
        <h1 class="mb-5">Email envoyé ! </h1>
        <img src="{{ asset('illustrations/mail_sent.svg') }}" alt="" style="max-width: 27.5%;">
        <h5 class="mt-5 fw_300 text-center">Nous avons pris en compte votre demande.<br>Veuillez vérifier votre boîte de réception</h5>
    </div>
</div>

{% endblock %}