{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Mot de passe{% endblock %}
{% block body %}

    <div class="full_page_container container px-0 p-md-3">
        <div class="d-none d-md-flex row justify-content-between align-items-center mt-5 py-2" style="flex-grow: 1;">
            <div class="col-md-6 mt-3" style="position: relative;">
                <div style="position: absolute;">
                    <h1 class="text-left mb-3">Cette fois-ci c'est la bonne</h1>
                    <h5 class="text-left mt-5 fw_300">Si vous vous souvenez de votre mot de passe, vous pouvez vous <a href="{{ path('app_login') }}" style="color: #476ff5!important;">connecter ici !</a></h5>
                </div>

                <img src="{{ asset('/illustrations/thinking.svg')}}" alt="" style="width: 130%;">
            </div>

            <div class="col-md-4 mt-5">
                <h4 class="text-left mb-4 font-weight-bold">Nouveau mot de passe</h1>
                <form method="post">
        
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3"
                        placeholder="Nouveau mot de passe" required style="border: 0; background-color: #e8f0fe;">
                    <input type="password" name="passwordConfirm" id="inputPasswordConfirm" class="form-control mb-3"
                        placeholder="Confirmer le nouveau mot de passe" required style="border: 0; background-color: #e8f0fe;">

                    <input type="hidden" name="token" value="{{ token }}">

                    <div class="col-12 mb-4 p-0">
                        <button class="btn bg-medium-blue mt-4 text-white text-center font-weight-bold w-100" style="border-radius: 10px!important; min-height: 42px;" type="submit">Confirmer</button>
                    </div>
        
                </form>
            </div>
        </div>
    </div>

{% endblock %}