{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Nouveau mot de passe{% endblock %}
{% block body %}

<div class="container-fluid m-0 p-0">
    <div class="row no-gutters">

        <div class="col-md-6 p-md-5 p-3 d-flex align-items-center">
            <div class="w-100">

                {{ include('_alert.html.twig') }}

                <form method="post">

                    <h1 class="mb-3 fw_600 text_responsive">Changer de mot de passe</h1>

                    <label for="inputPasswordOld" class="sr-only">Ancien mot de passe</label>
                    <input type="password" name="passwordOld" id="inputPasswordOld" class="form-control mb-3"
                        placeholder="Ancien mot de passe" required>

                    <label for="inputPasswordNew" class="sr-only">Nouveau mot de passe</label>
                    <input type="password" name="passwordNew" id="inputPasswordNew" class="form-control mb-3"
                        placeholder="Nouveau mot de passe" required>

                    <label for="inputPasswordNewConfirm" class="sr-only">Confirmer le nouveau mot de passe</label>
                    <input type="password" name="passwordNewConfirm" id="inputPasswordNewConfirm" class="form-control mb-4"
                        placeholder="Confirmer le nouveau mot de passe" required>

                    <div class="text-center">
                        <button class="btn bg-light-purple text-white font-weight-bold  ml-0" type="submit">Modifier le mot de passe</button>
                    </div>

                </form>

            </div>
        </div>

        {# Côté droit - Image #}

        <div class="col-md-6 d-none d-md-block">
            <img src="https://picsum.photos/2600/2400" alt="Ampli off" class="vh_100_navbar w-100"
                style="object-fit: cover; object-position: center center;">
        </div>

    </div>
</div>

{% endblock %}