{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Page introuvable{% endblock %}

{% block body %}

<div id="landing_page" class="container-fluid m-0 p-0">

    <div class="row no-gutters">
        <div class="col-md-6 p-md-5 p-3">
            <h1 class="text_bigger_responsive font-weight-bold mb-3">Accès refusé</h1>
            <h2 class="text_big_responsive mb-3 mb-md-5">Vous n'avez pas accès à cette page</h2>
            <a class="btn bg-light-purple text-white font-weight-bold  my-4" href="{{ path('home') }}">Retour à l'accueil</a><br>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('/img/403.png') }}" alt="Error 404" class="vh-100 position-fixed" style="margin-left: -10%;">
        </div>
    </div>

</div>

{% endblock %}