@import "~bootstrap/scss/bootstrap";
@import "fonts"; 
@import "buttons";

.vh_100 {
    height: 100vh;
}

.vh_100_nav {
    height: calc(100vh - 54px);
}

.vw_100 {
    height: 100vw;
}

body {
	font-family: $font_main;
    color: $default-text-color;
    font-weight: 300;
}

.pt54 {
  padding: 54px 0 0 0;
}
/* User profil pic edit */
.profilpic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .profilpic img {
    max-height: 140px;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
  }
  
  .profilpic i {
    position: absolute;
    top: 20px;
    right: -5px;
    border: 1px solid darkgray;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
  }

.fixed-btn {
  position: fixed;
  top: 175px;
  right: 50px;
  z-index: 10;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  transition: all 500ms ease;
  text-align: center;
  font-size: 30px;
}

.statement {
  border: 1px solid black;

  p {
    text-align: justify;
  }
}

@media (max-width: 768px) {

  .fixed-btn {
      display: none;
  }

  .statement{
    border: 0px;
    margin-bottom: 0.33rem !important;
    p {
      text-align: left;
    }
  }

  .statement_rate{
    margin-bottom: 1rem !important;
    justify-content: space-between;
  }

}

@media print {
  .bilan_footer{
    display: none !important;
  }
}

.listUsers{
  background-color: #f4f8f9;
  border-radius: 20px;
  height: 50px;
}

.bg-light-gray{
  background-color: #f6f7fa;
}

.medium-blue{
  color: #476ff5;
}

.bg-medium-blue{
  background-color: #476ff5;
}


.bg-light-purple{
  background-color: #4c5a9e;
}

.btn-save{
  height: 50px;
  width: 140px;
  border-bottom-left-radius: 15px 15px;

  a:hover{
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer;
  }
}

.medium-gray{
  color: #282a2d;
}

.logo-name{
  font-weight: bold;
}

.statement2{
  background-color: #e5e8ef;
  border-radius: 15px;
  p{
    color: #2f3b73;
    font-weight: bold;
  }
}

.statement-answered{
  background-color: #AED1EA;
}
.player-footer{
  //background-color: #fefefe;
  background-color: #e5e8ef;
  border-radius: 15px;
  z-index: 10;
  bottom: 50px;
  height: 60px;

  button{
    border-radius: 7.5px !important;
  }
  
}

.progressbar{
  height: 5px!important;
  border-radius: 5px;
  background-color: #ffffff;

  div{
    height: 100%!important;
    border-radius: 5px;

  }

  .progressbar-endpoint{
    margin-top: -7.5px;
    width: 10px;
    height: 10px!important;
    border-radius: 50%;
    z-index: 15;
  }
}

.inputRecord{
  border: 3.5px solid #2f3b73;
  border-radius: 12.5px;
  min-width: 56px!important;
  height: 56px!important;
  padding: 0;
  text-align: center;
  position: relative;
}

.inputRecord[type="number"]::-webkit-inner-spin-button{
  position: absolute;
  width: 12.5%;
  height: 100%;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .inputRecord.form-control{
    min-width: 56px!important;
    width: auto!important;
  }

  .recordContainer{
    justify-content: space-between;
    align-self: center;
  }
  
  .statementContainer{
    justify-content: space-between;
    align-self: center ;
  }
}

.textInput{
  color: #2f3b73;
  font-weight: bold;
}

@media (max-width: 768px) {
  .statement2{
    justify-content: center;
  }
}
