<div style="font-family: Georgia, Arial, Helvetica, sans-serif;">
    <p>Bonjour,</p>
    <p>Pour modifier votre mot de passe, veuillez suivre ce lien</p>
    <a href="{{ url }}">Modifier votre mot de passe</a>
</div>