<div class="row no-gutters">
    {{ include('_alert.html.twig') }}
    <div class="col-md-8 px-3 py-4 p-md-5 bg-light">
        
        <h3 class="my-3">{{ questionnaire.name }} </h3>

        
    </div>
    <div class="col-md-4 vh_100_nav d-flex align-items-center sticky-top justify-content-center">
        <img src="{{ asset('/img/logo_bdf.png') }}" alt="logo_md" class="img-fluid" style="flex-shrink: 0; max-height: 80vh;">
    </div>
</div>
